<a href="https://colab.research.google.com/github/kaho0/SandBox/blob/main/Shore_5_Set%26Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**

In [ ]:
tpl=(10,20,30,40)
print(type(tpl))

flt_tpl=(10.33,50,44.544)
print(type(flt_tpl))

tup1=(10)
print(type(tup1),tup1)

##if we want one value but in tuple
tup2=(10,)
print(type(tup2),tup2)
tup3=tuple([10])
print(type(tup3),tup3)
##converting list into tuples

lst=[10,20,50]
tpl_lst=tuple(lst)
print(type(tpl_lst),tpl_lst)

<class 'tuple'>
<class 'tuple'>
<class 'int'> 10
<class 'tuple'> (10,)
<class 'tuple'> (10,)
<class 'tuple'> (10, 20, 50)

**Acess in tuple**

In [50]:
tup = ( 10 , 20 , 30 , 10.5 , "str" , False )

#index
print(tup[5])

# slicing

new_tup = tup[0:6]
print(new_tup)

False
(10, 20, 30, 10.5, 'str', False)

**List VS Tuple**

In [51]:
# mutable

lst = [ 10 , 20 , 30 , 40 ]
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 )
tup[1]= 100
print(tup)

[10, 100, 30, 40, 60]

In [52]:
# tuple method
tup= ( 10 , 20 , 30 , 40 , 10 , 20 , 30 ,10 )

print(tup.count(20))
print(tup.index(40))

2
3

# **SET**

In [53]:
 A = { 1, 2 , 3 }

print(type(A) , A )

<class 'set'> {1, 2, 3}

**empty structures**

In [54]:
B = []

print(type(B))

C= ()

print(type(C))

D={}
print(type(D))

S = set()

print(type(S))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [55]:
Aset={1,2,3,5,6,1,2}
if 3 in Aset:
  print("yes")
else:
  print("no")
for element in Aset:
  print(element)

yes
1
2
3
5
6

In [56]:
sum=0
for element in Aset:
  sum+=element
print(sum)

17

In [60]:
Aset.add(20)
Aset.add(10)

print(Aset)
Aset.pop()

{2, 3, 20, 5, 6, 10}
{3, 20, 5, 6, 10}

In [71]:
# Create a set with some initial elements
Aset = {1, 2, 3, 5, 6}

# Add elements to the set
Aset.add(20)
Aset.add(10)

# Print the set
# Sets are unordered collections.
# Elements may not appear in the order they were added.
print("Set after adding elements:", Aset)

# Pop an element
# In a set, pop() removes an **arbitrary element**,
# usually the "first" element based on internal hashing,
# NOT necessarily the element that was added first.
popped_element = Aset.pop()
print("Popped element:", popped_element)
print("Set after pop:", Aset)

# Remove a specific element
# remove() removes the **element you specify**.
# If the element doesn't exist, it raises a KeyError.
Aset.remove(5)
print("Set after remove(5):", Aset)

Set after adding elements: {1, 2, 3, 20, 5, 6, 10}
Popped element: 1
Set after pop: {2, 3, 20, 5, 6, 10}
Set after remove(5): {2, 3, 20, 6, 10}

**Comparison with LIST STACK QUEUE**

In [72]:
# 1. List
my_list = [1, 2, 3, 4]
print("Original List:", my_list)

# Remove from end (default behavior of pop)
my_list.pop()
print("List after pop() from end:", my_list)

# Remove from front (index 0)
my_list.pop(0)
print("List after pop(0) from front:", my_list)

Original List: [1, 2, 3, 4]
List after pop() from end: [1, 2, 3]
List after pop(0) from front: [2, 3]

In [74]:
# 2. Queue (FIFO) using collections.deque
from collections import deque

my_queue = deque([1, 2, 3, 4])
print("\nOriginal Queue:", my_queue)

# Remove from front
my_queue.popleft()
print("Queue after popleft() from front:", my_queue)
# Remove from back
my_queue.pop()
print("Queue after pop() from back:", my_queue)

Original Queue: deque([1, 2, 3, 4])
Queue after popleft() from front: deque([2, 3, 4])
Queue after pop() from back: deque([2, 3])

In [75]:
# 3. Stack (LIFO) using list
my_stack = [1, 2, 3, 4]
print("\nOriginal Stack:", my_stack)

# Remove from top/end
my_stack.pop()
print("Stack after pop() from top/end:", my_stack)

Original Stack: [1, 2, 3, 4]
Stack after pop() from top/end: [1, 2, 3]

**Set Mathematical Methods**

In [79]:
a = { 1, 2, 3 }
b = {1, 2 ,5,6, 4 }
c={10,20,30}
print( a.union(b) )

print(a.intersection(b))


print(a.isdisjoint(b))
print(a.isdisjoint(c))

print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2}
False
True
False