<a href="https://colab.research.google.com/github/kaho0/SandBox/blob/main/Shore_7_5_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Given two sets of friends from two people, find the mutual friends, unique friends of each, and the total number of unique friends.

In [4]:
x=input("Enter names for first list: ").split()
y=input("Enter names for second list: ").split()
z=set(x).intersection(set(y))
print(z)
n=set(x)-set(y)
print(f"Unique to A: {n}")

m=set(y)-set(x)
print(f"Unique to B: {m}")

Enter names for first list: rahim karim sakib jamal
Enter names for second list: sakib jamal rafiq nadim
{'jamal', 'sakib'}
Unique to A: {'rahim', 'karim'}
Unique to B: {'rafiq', 'nadim'}

 You are given a list of tuples — each containing a student’s name and mark.
 Sort them in descending order of marks and print the top 3 scorers.

In [9]:
n=int(input("Enter number of students: "))
students=[]

for i in range(n):
  name=input(f"Enter name of student {i+1}: ")
  mark=int(input(f"Enter mark of student {i+1}: "))
  students.append((name,mark))

students_sorted=sorted(students,key=lambda x:x[1],reverse=True)
print("Top 3 students: ")
for name,mark in students_sorted[:3]:
  print(f"{name} - {mark}")

Enter number of students: 4
Enter name of student 1: In nostrum aut venia
Enter mark of student 1: 77
Enter name of student 2: Qui nulla et atque p
Enter mark of student 2: 88
Enter name of student 3: Labore eos ad deser
Enter mark of student 3: 98
Enter name of student 4: Earum ipsum laborum
Enter mark of student 4: 65
Top 3 students:
Labore eos ad deser - 98
Qui nulla et atque p - 88
In nostrum aut venia - 77

 Given a list of words, use filter() and lambda to return only words whose length is greater than 4.

In [10]:
x=list(map(str,input("Enter words: ").split()))
y=list(filter(lambda x:len(x)>4,x))
print(y)

Enter words: kahon hehe naiii matha brainn too ekeno
['kahon', 'naiii', 'matha', 'brainn', 'ekeno']

In [17]:
x=list(map(int,input("Enter numbers: ").split()))
y=list(map(lambda x:x**2,filter(lambda x:x%2==0,y)))
print(y)

Enter numbers: 1 2 3 4 5 6
[4, 16, 36]

In [22]:
with open ("/data.txt","w+") as file:
  file.write("Learning Python is fun!")
  file.seek(0)
  print(file.tell())
  content=file.read()
  print(content)

0
Learning Python is fun!

 Write a Python program to count how many lines are in a text file named story.txt.
 If the file does not exist, handle the exception and print an error message, otherwise read the text file ( test it with both conditions ). Print a message finally.

In [23]:
#if doesnt exist
try:
  file=open("/story.txt")
except Exception as e:
  print(e)
else:
  print(file.read())
finally:
  print("DOnee")

[Errno 2] No such file or directory: '/story.txt'
DOnee

In [32]:
# Part 1: Write file if it exists
file_content = """Once upon a time, a tiny seed lay buried deep in the soil. Every day, it felt the warmth of the sun above and the cool touch of the rain below.

“I wish I could see the world,” it whispered.

But the earth around it said, “Not yet. Grow first.”

So the seed waited. Slowly, it pushed a small green sprout through the soil. Days turned into weeks, and soon, it became a tall, beautiful flower.

One morning, a little girl passing by smiled and said, “What a lovely flower!”

The seed finally realized — the world had always been waiting for it to bloom."""

# Write the file line by line
with open("sample.txt", "w") as file:
    for line in file_content.splitlines():
        file.write(line + "\n")  # Write line with newline

print("sample.txt has been written.\n")

# Part 2: Read a file safely
try:
    with open("sample.txt", "r") as file:  # Try to open file
        content = file.read()
        print("File content:\n", content)
except FileNotFoundError as e:
    print("Error:", e)
finally:
    print("Done!")

sample.txt has been written.

File content:
 Once upon a time, a tiny seed lay buried deep in the soil. Every day, it felt the warmth of the sun above and the cool touch of the rain below.

“I wish I could see the world,” it whispered.

But the earth around it said, “Not yet. Grow first.”

So the seed waited. Slowly, it pushed a small green sprout through the soil. Days turned into weeks, and soon, it became a tall, beautiful flower.

One morning, a little girl passing by smiled and said, “What a lovely flower!”

The seed finally realized — the world had always been waiting for it to bloom.

Done!