**Variables and Data Type**

In [1]:

phone_number = 456249

print(phone_number)

456249

In [2]:

name = "Phitron"

print(name)

Phitron

In [3]:

age = 20
height = 5.6
name = "Akash"
is_passed = True

print(type(age), type(height), type(name),type(is_passed))

age = 20.5

print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

**Taking Input in Python**

In [4]:

name = input("What is your name? ")

print(name)

What is your name? kahon
kahon

In [5]:
age = input("Age ?")

print(age , type(age))

Age ?11
11 <class 'str'>

In [6]:
age = input("Age ?") # string hishebe input nise

age = int(age) # string k amra int a convert korlam

print(age , type(age))

Age ?22
22 <class 'int'>

In [7]:
height = input("Height ?")

print(height , type(height))

Height ?5
5 <class 'str'>

In [ ]:
height = float(input("Height ?")) # string

print(height , type(height))

height = height +0.2

print(height)

Height ?5
5.0 <class 'float'>
5.2

**Operators in Python**

In [9]:
x = 10 ; y = 3

sum = x + y # summation
sub = x - y # subtraction
mult = x * y # multiplication
div = round(x / y , 2) # division

rem = x % y # remainder

print(sum , sub , mult, div , rem)

13 7 30 3.33 1

In [ ]:
x = 10 ; y = 3

greater_than = x > y

greater_than_equal = (10 >= 10)

print(greater_than , greater_than_equal)


less_than = x < y

less_than_equal = (10 <= 10)

print(less_than , less_than_equal)


equal =  x==y

print(equal)


not_equal = x != y

print(not_equal)

True True
False True
False
True

**_Logical Operator_**

In [11]:
x = 10 ; y = 5 ; z = 3

result = (x > y) and (x > z)


print(result)

True

In [12]:
x = 10 ; y = 5 ; z = 15

result = (x > y) or (x > z)


print(result)

True

In [13]:
x = 10 ; y = 20 ; z = 15

result = (x > y) or (x > z)


print(result)

False

**Precedence and Associativity**

In [14]:
eq = 10 + 10/2 - 5*2 # precedency maintain korbe
print(eq)

eq = (10+10)/2 - 5*2 ## ekhane bracket e part tuku ageh compute hobe

print(eq)

5.0
0.0

**Problem : Digit Summation**

In [17]:
inp=input()
numbers=inp.split()
x=int(numbers[0])
y=int(numbers[1])

last_digit_of_x=x%10
last_digit_of_y=y%10
sum=last_digit_of_x+last_digit_of_y
print(sum)

23 44
7

In [2]:
# Take one number as input safely
inp = input("Enter a number: ")

if inp.strip() == "":
    print("You didn’t enter any number!")
else:
    n = int(inp)
    total = 0
    while n > 0:
        total += n % 10
        n //= 10
    print("Sum of digits:", total)

Sum of digits: 6