<a href="https://colab.research.google.com/github/kaho0/SandBox/blob/main/Shore_6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions**

In [43]:
def greet():
  print("Hello")

In [44]:
greet()

Hello

**Function with Parameter**

In [45]:
def greet(user="Alice"):
  print("Hello",user)
greet("Kahon")

Hello Kahon

In [46]:
def sq_ad(num1,num2):
  print(f"{num1},{num2}")
  a=num1**2
  b=num2**2
  return a+b

In [47]:
ans=sq_ad(2,3)+10
print(ans)
##positional arguement

2,3
23

In [48]:
#keyword arguement
ans2=sq_ad(num2=30,num1=20)
print(ans2)

20,30
1300

In [49]:
def sq(*args):
 for i in args:
  print(i)

ans=sq(1,2,3,4,5)
print(ans)

1
2
3
4
5
None

In [50]:
def square_ad(*args):
  sum=0
  for i in args:
    i=i**2
    sum+=i
  return sum

ans=square_ad(1,2,3,4,5)
print(ans)

55

In [51]:
def student(**kargs):
  for key,val in kargs.items():
    print(f"{key} : {val}")

student(name="Alice",age=20,grade="A")

name : Alice
age : 20
grade : A

In [52]:
def give_p(a):
  return a
type(give_p(10))

int

In [53]:
def arr():
  arr=[1,2,3]
  arr2=[5,6,7]
  return arr,arr2

a,b=arr()
print(a,b)

[1, 2, 3] [5, 6, 7]

In [54]:
from re import A
def give_pred():
  a={1,2,3}
  b=[20,40,44]
  return a,b

x=give_pred()
print(type(x))

for item in x:
  print(item)

<class 'tuple'>
{1, 2, 3}
[20, 40, 44]

In [61]:
def give_pred():
  return { "name" : "adil" , "addr" : "Ctg"},{ "name" : "abrar" , "addr" : "dhaka"}

m,n=give_pred()
print(type(n))

for key,val in n.items():
   print(key,val)

<class 'dict'>
name abrar
addr dhaka

**Iteration**

In [6]:
s={1,2,3,45,6}
print("NORMAL METHOD")
s_it=iter(s)
print(next(s_it))
print(next(s_it))
print(next(s_it))
print("ITERATOR METHOD")

for i in s:
  print(i)

NORMAL METHOD
1
2
3
ITERATOR METHOD
1
2
3
6
45

50
20
40
10
30
50
20
40
10
30

In [ ]:
# -----------------------------------------------------------
# 🔹 ITERATION vs ITERATOR in Different Python Data Structures
# -----------------------------------------------------------

# 📘 Concept Recap:
# - iter(obj) → returns an iterator object
# - next(iterator) → gives next element
# - for loop → internally uses iter() + next()
# -----------------------------------------------------------


# ===========================================================
# 🟦 1️⃣ LIST (Ordered, Indexed, Iterable)
# ===========================================================
lst = [10, 20, 30, 40, 50]

print("🔸 LIST Example")
print("Using Indexing:")
print(lst[0])   # ✅ Works (lists are indexed)
print(lst[1])

print("\nUsing Iterator Manually:")
lst_iter = iter(lst)
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))

print("\nUsing For Loop:")
for item in lst:
    print(item)
print("-" * 50)


# ===========================================================
# 🟩 2️⃣ TUPLE (Ordered, Indexed, Immutable, Iterable)
# ===========================================================
tpl = (1, 2, 3, 4)

print("🔸 TUPLE Example")
print("Using Indexing:")
print(tpl[0])   # ✅ Works
print(tpl[2])

print("\nUsing Iterator Manually:")
tpl_iter = iter(tpl)
print(next(tpl_iter))
print(next(tpl_iter))

print("\nUsing For Loop:")
for item in tpl:
    print(item)
print("-" * 50)


# ===========================================================
# 🟥 3️⃣ SET (Unordered, Unindexed, Iterable)
# ===========================================================
s = {100, 200, 300, 400, 500}

print("🔸 SET Example")
print("Indexing:")
# print(s[0])  # ❌ ERROR: 'set' object is not subscriptable

print("Using Iterator Manually:")
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

print("\nUsing For Loop:")
for item in s:
    print(item)
# ⚠️ Output order may vary each time because sets are unordered.
print("-" * 50)


# ===========================================================
# 🟨 4️⃣ DICTIONARY (Ordered by insertion, Key–Value pairs)
# ===========================================================
d = {"name": "Adil", "age": 21, "city": "Ctg"}

print("🔸 DICTIONARY Example")

print("Access by Key:")
print(d["name"])   # ✅ Works
# print(d[0])      # ❌ ERROR: Dictionary uses keys, not numeric index

print("\nUsing Iterator Manually (Iterates over KEYS):")
d_iter = iter(d)
print(next(d_iter))
print(next(d_iter))

print("\nUsing For Loop:")
for key, value in d.items():
    print(key, "=>", value)
print("-" * 50)

In [16]:
lst=[x for x in range(500)]
def data_loader(chunk_size,lst):
  for i in range(0,len(lst),chunk_size):
    yield lst[i:i+chunk_size]


x=data_loader(5,lst)
print(type(x))
print(next(x))
print(next(x))

<class 'generator'>
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

# **Lamda function**

In [20]:
def square_add(x,y):
  return x**2 + y**2

sq_add=lambda x,y:x**2+y**2

print(sq_add(2,3))

13

In [21]:
if_even=lambda x:x%2==0

print(if_even(11))

False

In [22]:
lst=[1,2,3,4,5,6]
def sq(x):
  return x**2

lst=list(map(sq,lst))
print(lst)

[1, 4, 9, 16, 25, 36]

In [34]:
string = "hello world, welcome to the age of AI"
string1 = [char.upper() for char in string]
print(string1)
string1 = " ".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ',', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I']
H E L L O   W O R L D ,   W E L C O M E   T O   T H E   A G E   O F   A I

In [40]:
lst=[1,2,3,4,5]
evn=list(map(lambda x:x%2==0,lst))
even=[x for x in lst if x%2==0]
print(even)
print(evn)

[2, 4]
[False, True, False, True, False]

In [47]:
n=[x for x in range(100)]
print(n)
even=list(filter(lambda x:x%2==0,n))
print(even)

fift_up=list(filter(lambda x:x>50,n))
print(fift_up)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [48]:
data = [0, 1, '',None, 'Hello', [], [1, 2], None, True, False, None]

cleaned_data = list(filter(None, data))

print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [50]:
v=list(filter(lambda x:x in "AEIOU",string))
print(v)

['A', 'I']

# **Reduce**

In [51]:
from functools import reduce
summation=reduce(lambda x,y:x+y,lst)
print(summation)

15

In [53]:
def add(a,b=2):
  return a+b
print(add(3))

k=list(filter(lambda x: x%2==0, [1,2,3,4]))
print(k)

5
[2, 4]